<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slbappreadbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".ReadBookActivity">
            <intent-filter>
                <action android:name="hs.act.slbapp.ReadBookActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name=".MusicPlayerService"
            android:exported="true" />


    </application>

</manifest>
