<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haier.usercenter">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".LoginMainActivity">
            <intent-filter>
                <action android:name="hs.act.LoginMainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="hs.act.loginactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginOutActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="hs.act.loginoutactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
