<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haier.cellarette.libglide37">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".uploadpic.UploadPicActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerThemeFullScreen">
            <intent-filter>
                <action android:name="hs.act.phone.uploadpic" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
